
.title-bar ul li { position: relative; display: inline-block; vertical-align: middle;}

.title-bar h1 a{display: inline-block; vertical-align: middle;}
.col-bx-top { background: #fff; padding: 25px 30px; border-radius: 3px; display: inline-block; vertical-align: top; width: 100%; margin-bottom: 15px; -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22); -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22); box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);}
.col-bx-top .title{margin-bottom:15px; width: 100%;}
.col-bx-top .title h3{font-size: 20px; line-height: 35px; font-weight: 500;}
.information{display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap;  margin-bottom: 20px; padding-bottom: 10px;}
.information li {flex: 0 0 100%; max-width: 20%;}
.information li h5{font-size: 14px; line-height: 30px; letter-spacing: 0.32px; color: #000; font-weight: 600; margin-bottom: 0;}
.information li h4{font-size: 16px; line-height: 26px; letter-spacing: 0.8px; color: #000; font-weight: 300; margin-bottom: 20px; word-break: break-word;}

/*======= modal =======*/
/*.modal-dialog.w-4 { max-width: 400px; text-align: center;}*/
/*.modal-header { padding-top: 40px; display: block; border-bottom: 1px solid transparent; padding-bottom: 0;}
.modal-header h5 { color: #2D2F39; font-size: 20px; line-height: 42px; font-weight: 700; margin-bottom: 0; }
.modal-dialog.w-3 .modal-body { padding-top: 0; }
.modal-footer { border: transparent; }
.modal-footer .common-btn{width:100%;}
.modal-footer .common-btn.unfilled{width:100%;}
*/

.title-bar ul li{position: relative; display: inline-block; vertical-align: middle;}    
.table-wrapper.cursor-default table td {padding: 15px;}
.table-wrapper.cursor-default table td.last-child{width: 150px; display: inline-block; padding: 9px 0px; vertical-align: middle;}
.table-wrapper.cursor-default table td.last-child a.action-btn{padding: 5px 10px; display: inline-block; color: #FF1515 !important; border: 1px solid #C0CBDB; border-radius: 4px; font-weight:600; vertical-align: middle;}
.table-wrapper.cursor-default table td.last-child a.action-btn:hover{background: #ff5242; color: #fff !important; transition: all 0.3s; border: 1px solid #ff5242;}





@media (max-width: 1400px){
    .information li { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 33%;}
}