strong{font-weight:700;}
input, select, textarea{ outline:none;}
input[type="submit"], input[type="button"]{-webkit-appearance:none; }
input[type="text"],input[type="password"], textarea{-webkit-appearance:none; }
input, button { border: none;outline: none;}
input:focus { border: 1px solid #D3D3D3 !important; outline: none !important;}
textarea:focus { border: 1px solid #D3D3D3 !important; outline: none !important;}

.search:focus{border: 0!important; }

*, *:before, *:after {box-sizing: border-box;margin: 0;padding: 0;}
.bold{font-weight: 700;}
/* headings */
h1, h2, h3, h4, h5, h6 {font-size:100%;font-weight:normal;padding: 0;margin: 0}
h1{font-size: 30px;}
h2{font-size: 28px; font-weight:600;}
h3{font-size: 26px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size:18px;}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}
.font-15 {
  font-size: 15px;
}
.font-16 {
  font-size: 16px;
}
.font-17 {
  font-size: 17px;
}
.font-18 {
  font-size: 18px;
}
.font-20 {
  font-size: 20px;
}
.font-26 {
  font-size: 26px;
}
.color-white {
  color: #fff !important;
}
.color-green {
  color: #2ecc71 !important;
}
.color-blue {
  color: #3498db !important;
}
.color-orange {
  color: #F39C12 !important;
}
.color-red {
  color: #e74c3c !important;
}
.color-blue-light {
  color: #23B7E5 !important;
}
.color-purple {
  color: #7E57C2 !important;
}
.color-yellow {
  color: #fbb84f!important;
}
.color-ebony {
  color: #0e1217 !important;
}
.color-silver {
  color: #bdc3c7 !important;
}
.color-inherit {
  color: inherit !important;
}
.bg-green {
  background-color: #18c5a9;
}
.bg-red {
  background-color: #f75a5f;
}
.bg-orange {
  background-color: #fbb84f;
}
.bg-sky {
  background-color: #25c6da;
}
.bg-pink {
  background-color: #d26e9c;
}
.bg-blue {
  background-color: #404e67;
}
.text-primary {
  color: #5c6bc0 !important;
}
.text-pink {
  color: #ff4081 !important;
}
.text-success {
  color: #18c5a9 !important;
}
.text-info {
  color: #23B7E5 !important;
}
.text-warning {
  color: #F39C12 !important;
}
.text-danger {
  color: #f75a5f !important;
}
.text-muted {
  color: #999 !important;
  font-size: 14px;
}
.text-white {
  color: #fff !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #258cd1 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #19a9d5 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #29b765 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #e08e0b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #e43725 !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.rel,
.p-relative {
  position: relative !important;
}
.p-absolute {
  position: absolute !important;
}
.v-middle {
  vertical-align: middle;
}
.border-0 {
  border: 0 !important;
}
.hidden {
  display: none;
}
 /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0;}

  /* Firefox */
input[type=number] { -moz-appearance: textfield !important;}
button{outline: none;}
ul{margin:0px;padding:0px;}
li{list-style:none;text-decoration:none;}
a{text-decoration:none;color:#000;cursor: pointer;}
a.link {color: inherit;}
a:hover,a:focus { text-decoration: none; color: #0e1217;}
i{font-style:normal;}
img{vertical-align:middle;}
input, textarea, img, canvas { max-width: 100%;}
body {overflow-x: hidden;}
small {font-size: 85%;}
button:focus,select:focus,input:focus,a:focus { outline: none;}
ul[class*="grid-"]{display: inline-block; vertical-align: top; width: 100%;}
ul.grid-4 > li{float: left; width: 25%; padding:15px;}
ul.grid-3 > li{float: left; width: 33.33%; padding:20px 15px;}
ul.grid-2 > li{float: left; width: 50%; padding:20px 15px;}	
html{height:100%;}
body{width:100%; height:100%; margin:0px; padding:0px;   font-family: 'Poppins', sans-serif;font-size:14px; color:#333; line-height:24px;background:#f2f3fa;letter-spacing:1px; }

.clear{clear:both;}
.tip {font-size: 20px;margin: 40px auto 50px;text-align: center;}

.left{float:left!important;}
.right{float:right!important;}
.txt-right{text-align:right!important;}
body.no-scroll{overflow:hidden!important;}

.modal-open {overflow: hidden;}

.main-container  .padding_bottom_0{padding-bottom:0px;}
.main-container  .padding_top_0{padding-top:0px;}


/*=========================
	common css
=======================*/

/* ============= Logo Header =============== */
.loginHeader {
  padding: 15px 0px;
  box-sizing: border-box;
  position: fixed;
  left: 0px;
  right: 0px;
  top:0px;
  z-index: 3;
  background: #fff;
}
.loginHeader .headerNavbar {
  padding: 0px;
  margin-right: -5rem;
  list-style: none;
  float: right;
}
.wrapper.login-section .loginHeader .container {
  max-width: 100%;
  padding: 0 30px;
}
.row { 
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.headerLogo{ margin-left: -6rem;}

.headerLogo img { width: 180px;}

.setting{width: 50px; height: 70px; line-height: 60px; border-right: 1px solid #e6e6f2; text-align: center; display: inline-block; vertical-align: top;}
.setting img{width:25px;}

/*=========== checkbox ================*/
/* 
.checkbox input{width:17px!important;height:17px!important}
.checkbox .input-helper:before{top:2px;width:18px;height:18px;border-radius:3px;background:#fff}
.checkbox .input-helper:before,.radio .input-helper:before{left:0px;}
.checkbox .input-helper:before,.radio .input-helper:before,.checkbox .input-helper:after,.radio .input-helper:after{-webkit-transition:all;-o-transition:all;transition:all;-webkit-transition-duration:250ms;-o-transition-duration:250ms;transition-duration:250ms;-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute;content:""}
.checkbox,.radio{display:inline-block;position:relative;vertical-align:middle;padding:0 0 0 25px;min-height:20px}
.ion-connection-bars:before{content:"\f274";display:block;margin-top:3px}
.checkbox, .radio,
.form label.checkbox,
.form label.radio {display:inline-block;position:relative;vertical-align:middle;padding:0px 0 0 30px;min-height:20px; width: auto; cursor:pointer;}
.radio, .tabs_panel_wrap .checkbox{margin: 10px 30px 0 0}
.checkbox input,.radio input{top:0;left:0;margin:0!important;z-index:1;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
.form label.checkbox{ margin-right: 50px;margin-top: 8px; line-height: 20px; }
.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{position:absolute;margin-left:-20px;margin-top:4px \9}
.checkbox .input-helper:before,.radio .input-helper:before,.checkbox .input-helper:after,.radio .input-helper:after{-webkit-transition:all;-o-transition:all;transition:all;-webkit-transition-duration:250ms;-o-transition-duration:250ms;transition-duration:250ms;-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute;content:""}
.checkbox .input-helper:before,.radio .input-helper:before{left:1px;}
.checkbox.disabled,.radio.disabled{opacity:.6;filter:alpha(opacity=60)}
.checkbox input{width:17px;height:17px}
/*.checkbox input:checked + .input-helper:before{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}*/
/* .checkbox input:checked + .input-helper:after{-webkit-transform:scale(1) rotate(-50deg);-ms-transform:scale(1) rotate(-50deg);transform:scale(1) rotate(-50deg);opacity:1;filter:alpha(opacity=100)}
.checkbox .input-helper:before{top:2px;width:18px;height:18px;border-radius:3px;background-color: rgba(255, 255, 255, 0.1);border: 1px solid #ccc;}
.checkbox .input-helper:after{opacity:0;filter:alpha(opacity=0);-webkit-transform:scale(0) rotate(80deg);-ms-transform:scale(0) rotate(80deg);transform:scale(0) rotate(80deg);width:17px;height:8px;border-bottom:2px solid #ff5242;border-left:2px solid #ff5242;left:5px;top:2px}
.radio input{width:19px;height:19px}
.radio input:checked + .input-helper:after{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
.radio .input-helper:before{top:1px;width:19px;height:19px;border-radius:50%; border:1px solid #ddd;}
.radio .input-helper:after{width:13px;height:13px;background:#ff5242 ;border-radius:50%;top:4px;left:4px;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
.radio input:checked + .input-helper:before{border:1px solid #ff5242 !important} */ */



 /*=========== checkbox css ================*/

 .checkbox input{width:17px!important;height:17px!important}
 .checkbox .input-helper:before{top:2px;width:18px;height:18px;border-radius:3px;background:#fff}
 .checkbox .input-helper:before,.radio .input-helper:before{left:0px;}
 .checkbox .input-helper:before,.radio .input-helper:before,.checkbox .input-helper:after,.radio .input-helper:after{-webkit-transition:all;-o-transition:all;transition:all;-webkit-transition-duration:250ms;-o-transition-duration:250ms;transition-duration:250ms;-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute;content:""}
 .checkbox,.radio{display:inline-block;position:relative;vertical-align:middle;padding:0 0 0 25px;min-height:20px}
 .ion-connection-bars:before{content:"\f274";display:block;margin-top:3px}
 .checkbox, .radio,
 .form label.checkbox,
 .form label.radio {display:inline-block;position:relative;vertical-align:middle;padding:0px 0 0 30px;min-height:20px; width: auto;}
 .radio, .tabs_panel_wrap .checkbox{margin: 10px 30px 0 0}
 .checkbox input,.radio input{top:0;left:0;margin:0!important;z-index:1;cursor:pointer;opacity:0;filter:alpha(opacity=0)}
 .form label.checkbox{ margin-right: 50px;margin-top: 8px; line-height: 20px; }
 .form .align-items-center label.checkbox{ margin: 0 }
 .radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{position:absolute;margin-left:-20px;margin-top:4px \9}
 .checkbox .input-helper:before,.radio .input-helper:before,.checkbox .input-helper:after,.radio .input-helper:after{-webkit-transition:all;-o-transition:all;transition:all;-webkit-transition-duration:250ms;-o-transition-duration:250ms;transition-duration:250ms;-webkit-backface-visibility:hidden;backface-visibility:hidden;position:absolute;content:""}
 .checkbox .input-helper:before,.radio .input-helper:before{left:1px;}
 .checkbox.disabled,.radio.disabled{opacity:.6;filter:alpha(opacity=60)}
 .checkbox input{width:17px;height:17px}
 /*.checkbox input:checked + .input-helper:before{-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}*/
 .checkbox input:checked + .input-helper:after{-webkit-transform:scale(1) rotate(-50deg);-ms-transform:scale(1) rotate(-50deg);transform:scale(1) rotate(-50deg);opacity:1;filter:alpha(opacity=100)}
 .checkbox input:checked + .input-helper:before{background: #FF5242;border-color: #FF5242;}
 .checkbox .input-helper:before{top:1px;width:18px;height:18px;border-radius:3px;background-color: rgba(255, 255, 255, 0.1);border: 1px solid #ccc;}
 .checkbox .input-helper:after{opacity:0;filter:alpha(opacity=0);-webkit-transform:scale(0) rotate(80deg);-ms-transform:scale(0) rotate(80deg);transform:scale(0) rotate(80deg);width:10px;height:6px;border-bottom:2px solid #fff;border-left:2px solid #fff;left:5px;top:5px}
 .radio input{width:19px;height:19px}
 .radio input:checked + .input-helper:after{-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1)}
 .radio .input-helper:before{top:1px;width:19px;height:19px;border-radius:50%; border:1px solid #ddd;}
 .radio .input-helper:after{width:13px;height:13px;background:#ff5242 ;border-radius:50%;top:4px;left:4px;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0)}
 .radio input:checked + .input-helper:before{border:1px solid #ff5242 !important}
 .save-btn, .save-btn1, .save-btn2{display: inline-block; width: auto; position: absolute; top: 2px; right: 0px; font-size: 21px; bottom: 0px; color: #08a578;  background: none; cursor: pointer; }
 .typeWrap .radio .input-helper:before{top:1px;}
 .typeWrap .radio .input-helper:after{top:5px;width: 11px;height: 11px;left: 5px;}

   /*=========== checkbox css end ================*/  



/*button css*/
.button {font-size: 15px;border-radius: 2px;display: block;text-align:center;  width: 100%;padding: 10px 24px;border: 0 none;position: relative;overflow: hidden;cursor: pointer;vertical-align: middle;border: none;background:#ff5242; color: #fff;}
/*.button::before{content:"";width: 0;height: 1px;position: absolute;transition: all 0.2s linear;  background: #fff;}
.button::after{content:"";width: 0;height: 1px;position: absolute;transition: all 0.2s linear;background: #fff;}*/
.button:hover { background: rgb(218, 31, 31); color:#fff;}
.button span::before, .button span::after{content:"";width:1px;height:0;position: absolute;transition: all 0.2s linear;background: #fff;}
.button:hover::before, .button:hover::after{width: 100%;}
.button:hover span::before, .button:hover span::after{height: 100%;}
.button::before{left: 50%;top: 3px;transition-duration: 0.4s;}
.button::after{left: 50%;bottom: 3px;transition-duration: 0.4s;}
.button span::before{left: 3px;top: 50%;transition-duration: 0.4s;}
.button span::after{right: 3px;top: 50%;transition-duration: 0.4s;}
.button:hover::before, .button:hover::after{left: 3px; width:calc(100% - 6px);}
.button:hover span::before, .button:hover span::after{top: 3px;height: calc(100% - 6px);}

.filter {padding:7px 14px;  font-weight: 600; letter-spacing: 1.5px; border: 1px solid #C0CBDB;border-radius: 4px;color: #000000 !important;display: inline-block;vertical-align: middle;}
.common-btn {background: #ff5242; display: inline-block; text-align: center; border-radius:4px; color: #fff !important; padding:7px 14px; margin-top: 13px; font-size: 14px; font-weight: 600; letter-spacing: 1px; text-transform: none; margin: 0px 0px 0px 10px; cursor:pointer; transition: all 0.3s;    border: 1px solid transparent; }
.common-btn.unfilled { color: #FF1515 !important; border: 1px solid #C0CBDB; background: transparent; cursor:pointer; }
.common-btn:hover{ background:#ff5242; color:#fff; transition: all 0.3s; }
.common-btn.unfilled:hover{ background:#ff5242; color:#fff !important; transition: all 0.3s; border:1px solid #ff5242;}
.common-btn.unfilled.selectBtn:hover{background:transparent;}
.common-btn.submit{width: 200px; margin: 0 auto; padding: 8px 0px;}
.common-btn.generate {width: 95%; font-size: 12px; line-height: normal; padding: 10px 13px; }


/*form css*/
input[type="text"], input[type="password"], input[type="email"], input[type="search"],
.form-control ,textarea{display: block; width: 100%;height: 40px; padding: 12px 12px; font-size: 14px; line-height:25px;border: none;border: 1px solid #D3D3D3;;border-radius: 4px;box-shadow: none; letter-spacing: 0.8px;color: #000;font-weight: 400;}/*-webkit-appearance: none;-moz-appearance: none;appearance: none;*/
.form-group {position: relative; display: inline-block;width: 100%; padding: 5px;}
/*.form-group select:focus {border:0px;border-bottom: solid 1px #282829;}*/
/*.form-group input:focus {border-bottom: solid 1px #282829; outline: none;}*/
.form-group textarea:focus {border-bottom: solid 1px #000;}
.form-group label {font-weight: 300; white-space: nowrap; -ms-transition: all 200ms ease 0s; -webkit-transition: all 200ms ease 0s;transition: all 200ms ease 0s; color: #0e1217;font-size:16px; letter-spacing: 1px; margin-bottom: 5px; display: block;}
.list .form-group label { white-space: normal;}
.form-group label.checkbox {cursor: pointer;}
.form-control:focus{outline: none;box-shadow: none;}

.form input[type='text'], .form input[type='number'], .form input[type='email'], .form input[type='password'], .form input[type='tel'], .form textarea, select { display: block; width: 100%; height: 40px; padding: 0px 7px; line-height: 1.42857143; background-color: rgba(255, 255, 255, 1); border: 1px solid #C0CBDB; border-radius: 4px; }
select {background: url(../images/downarrow_icon.svg) #fff no-repeat calc(100% - 10px) center / 11px;padding-right: 30px; padding-left: 10px; -webkit-appearance: none; -moz-appearance: none;}

/*=========================
	login css
=======================*/
.form-group .flip-change, .flip-back {display: inline-block;cursor: pointer;color:#f71b07;font-size: 14px;font-weight:600; float: right;}
.flip-back a{color: #FF5242;}
.flip-back{text-align:center;float:none;}
.login-wrapper {width: 100%; min-height: 100%;background: url(../images/model2.jpg) no-repeat; background-position: center;  background-size: cover; display: flex;justify-content: center;align-items: center;padding:0px 15px; }
/*.login-wrapper:before{content: ""; position: fixed; left: 0;top: 0; bottom: 0; right: 0; background-color: #e5e5e5; background-size: cover;background-attachment: fixed;}*/
/*.login-wrapper:after {background: url(../images/pattern.png) repeat;content: ""; bottom: 0;left: 0;position: fixed;right: 0;top: 0;width: 100%; z-index: 0;}*/
.login-container {overflow: hidden;position: relative;max-width: 970px;width: 100%; margin: 50px auto; background: #fff; z-index: 1;min-height:470px; }
.login-container-forgot-password{overflow: hidden;position: relative;max-width: 970px;width: 100%; margin: 50px auto; background: #fff; z-index: 1;min-height:410px;}
.login-container .col-md-6{padding: 42px 40px; }
.login-container .login-content{position:relative;height: 100%;min-height: 470px}
.login-container .login-content:before{position: absolute;height: 100%;width: 100%;left: 0;right: 0;margin: auto;background: #fff;}
.login-container .form-bx{ float: right;  padding: 45px 50px;width:100%;box-sizing:border-box;  margin-top: 30px;}
.login-container .login-content .logo{position:relative;z-index:1;text-align: left;display: block;margin-bottom: 20px;}
.login-container .login-content .logo svg,.login-container .login-content .logo img{position:relative;z-index:1; width: 300px;} 
.login-container .login-content .login-wrap{padding: 40px; margin-top: 30px;}
.login-container .login-content .login-wrap h2{margin:0px;position:relative;z-index:1;font-size: 42px;line-height: 60px;letter-spacing: 0.84px;color: #272626;}
.login-container .login-content .login-wrap h2 span{color: #FF5242;font-weight: 700;}
.login-container .login-content h4{ font-size: 20px;line-height: 26px; margin:0 0 30px;letter-spacing: 1px;color: #272626;font-weight: 600;}
.login-container .form-group:last-child{margin-bottom: 0}
.login-container .form-group span.show {position: absolute;right: 15px;top: 8px;}
.checkbox.leftlabel{display:inline-block;}


/* forgot css */
.forgot-form,  .login-form{right: 100%; opacity: 1; -webkit-transition: .3s all ease-in-out;-o-transition: .3s all ease-in-out; transition: .3s all ease-in-out;}
/*.forgot-form.show, .login-form.show{ -webkit-transition: .3s all ease-in-out; -o-transition: .3s all ease-in-out; transition: .3s all ease-in-out; opacity: 1; right: 0;}*/
.forgot-form p{ margin-bottom: 20px; letter-spacing: 0;  font-size: 14px;line-height: 20px;margin-top: 20px;color: #272626;}
/* error msg css */
.error-box{border-left: 4px solid #dc3232;    padding: 12px 10px; margin-left: 0; margin-bottom: 20px; background-color: #fff;  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1); letter-spacing: 0;  font-size: 13px;line-height: 20px;margin-top: 10px;color: #626262;max-width: 250px;position: fixed;right: 0; top: 20px;z-index:2; -webkit-transition: .3s; -o-transition: .3s;   transition: .3s;  -webkit-transform: translate(500px,10px);  -ms-transform: translate(500px,10px);   transform: translate(500px,10px); }
.error-box.success{border-left: 4px solid #FF5242;}
.error-box.error.show-error, .error-box.success.show-error{ opacity: 1;-webkit-transform: translate(0px,10px); -ms-transform: translate(0px,10px); transform: translate(0px,10px);}    
.error-box strong{color:#626262}
.center{text-align:center; }
/* link expire css */
.link-expired{margin:40px 0px 0px;text-align:center; }
.link-expired p{color:#959595;font-size:15px; }
.link-expired svg{width:80px;fill:#dc3232; }
.login-container .login-content .link-expired h2{margin: 5px 0px 0px;padding: 0px;}


/*=========================
	main css
=======================*/


/*================ dashboard ===============*/

.top-bar { padding:0 30px 0px 30px; position: fixed; top: 0; left: 0px; right: 0; z-index: 99; min-height: 60px; border-bottom: 1px solid #e6e6f2; -webkit-box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13); box-shadow: 0px 0px 28px 0px rgba(82, 63, 105, 0.13); -webkit-transition: all 0.3s ease; background: #fff;}

.left.logoSection{width:240px;}
.logo-img { display: inline-block; vertical-align: middle; }
.logo-img a{padding: 20px 0px; display: block;}
.logo-img img { width: 170px; }
/*.right-nav ul li:first-child{border-right: 1px solid transparent;}*/
/*.right-nav ul li:last-child{border-right: 1px solid transparent;}*/
.right-nav ul li {float: left;border-right: 1px solid #e6e6f2;}
.right-nav ul li .navdrop-box { -webkit-transition: all ease-in-out 300ms; -o-transition: all ease-in-out 300ms; transition: all ease-in-out 300ms; text-align: center; font-size: 25px; color: #333; line-height: 70px; height: 70px; padding: 0 20px;display: block}
.right-nav ul li:last-child{border-right: none;}
.right-nav ul li:last-child .navdrop-box{padding-right: 0}
.navdrop-wrap { float: left; position: relative;}
.notice-label { width: 5px; height: 5px; position: absolute; top: 15px; right:20px; border-radius: 50%; background-color: #ff5242;}

.profile-dropdown { cursor: pointer; position: relative;}
.profile-pic{padding:0px 10px;height: 70px; cursor: pointer;}
.user-pic { width: 40px; height: 40px; line-height: 65px; border-radius: 50%; display: inline-block; vertical-align: top; }
.user-nm { line-height: 62px; margin-left:5px; display: inline-block; position: relative; padding-right: 15px; font-weight: 400; font-size: 17px; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.user-nm:before { content: ''; width: 12px; height: 6px; background: url(../images/downarrow_icon.svg) no-repeat; background-position: center; cursor: pointer; position: absolute; right: 0px; top: 50%; margin-top: -1px;}
.dropdown-box { background: #fff; font-size: 18px; position: absolute; right: 0px; top: 100%; border-radius: 8px; box-shadow: 4px 4px 16px rgba(0,0,0,0.25); width: 200px; -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; -webkit-transform: scale(0); -ms-transform: scale(0); transform: scale(0); opacity: 0; filter: alpha(opacity=0); -webkit-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; -webkit-transform-origin: top center; -ms-transform-origin: top center; transform-origin: top center; z-index: 1;}

/*========*/
.notification-dropdown .dropdown-box{display:none;min-width:200px;max-width:200px;font-size:14px;border-top:0;border-radius:5px;background:#fff;-webkit-box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22);box-shadow:0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.22);-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear; top:26px;left: unset;margin: 45px auto 20px;padding: 0;}
.notification-dropdown.show .dropdown-box{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);display:block;will-change:transform;-webkit-transform:translate3d(-0px,-20px,0px);transform:translate3d(-0px,-20px,0px)}
.notification-dropdown.show1 .dropdown-box{opacity:1;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);-webkit-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear;-webkit-transform:translate3d(0,1px,0)!important;transform:translate3d(0,1px,0)!important}
.notification-dropdown li{word-wrap:break-word;-o-text-overflow:ellipsis;text-overflow:ellipsis;border-bottom:1px solid #EFF2F6}
.notification-dropdown li:last-child{border-bottom:0}
.notification-dropdown li a{color:#666;padding:6px 10px;text-decoration:none;display:inline-block;font-size:15px; width: 100%; vertical-align: top;}
.notification-dropdown a.link-menu i.icon{font-size:24px;float:left}
.notification-dropdown li a span{float:left;line-height:35px;padding-left:10px;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:94%}
.notification-dropdown li a .mdi{padding-left: 0px;}

/*===== profile ========*/
.pt-md { padding-top: 15px;}
.dropdown-box h5 { margin: 10px 0 15px; font-size: 16px;}
.name-wrap { width: 45px; height: 45px; font-size: 18px; color: #fff; display: inline-block; line-height: 42px; vertical-align: middle; margin: 0 auto; border-radius: 50%; background: #ccc; -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28); box-shadow: 0 0 4px rgba(0,0,0,0.14), 0 4px 8px rgba(0,0,0,0.28);}
.dropdown-menu-footer { background: #efefef; text-transform: capitalize; text-align: center; font-size: 16px; border-radius: 0 0 5px 5px;}
.dropdown-menu-footer a { padding: 13px; display: block;}

/*== sidebar css ==*/
.sidebar { position: fixed; top: 72px; bottom: 0; left: 0; width: 240px; background: #fff; padding: 0 0 20px; -webkit-transition: all ease-in-out 800ms; -o-transition: all ease-in-out 800ms; transition: all ease-in-out 800ms; padding-bottom: 150px; height: 100%; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); -webkit-transition: width .3s cubic-bezier(0,0,0.2,1); -o-transition: width .3s cubic-bezier(0,0,0.2,1); transition: width .3s cubic-bezier(0,0,0.2,1); -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); white-space: nowrap; visibility: visible;}
.sidebar-inner{padding-bottom: 50px;}
.nav-outer { position: relative; height: calc(100vh - 90px); overflow: auto; z-index: 4;}
.sidebar ul li { list-style: none; margin-bottom: 1px;}

/*.nav-outer ul li.active a { color: #ff5242;}*/
.nav-outer ul li.active a:before { content: ''; display: block; position: absolute; right: 0; top: 0; width: 100%; height: 100%; border-left: solid 5px #ff5242; background: rgba(200,200,200,0.2); -webkit-transition: .35s ease left; -o-transition: .35s ease left; transition: .35s ease left;}
.sidebar ul li a, .working-in-progress a { overflow: visible;}
.sidebar ul li a { text-transform: capitalize; font-size: 15px; display: block; color: #79859a; padding: 12px 15px; font-weight: 400; position: relative; overflow: hidden; letter-spacing: 0.5px; transition: all 0.3s; }

.sidebar ul li a:hover{background: rgba(200,200,200,0.2); }


.sidebar ul li .light{font-size: 14px; color: #818E94; text-transform: uppercase;letter-spacing: 0px; line-height: 42px;font-weight: 700; padding: 0 15px;margin: 0;}
.sidebar ul li .title-bar h2{ font-weight: 600; font-size: 22px; line-height: 31px; margin: 0px;color: #000000; display: inline-block;  vertical-align: middle;}
.sidebar ul li .title-bar h2 img{vertical-align: middle;margin-right: 10px;margin-top: -3px;}


/*========= mCustomScrollbar ==========*/
.mCustomScrollbar{overflow:auto;}
.mCustomScrollBox{position:relative;overflow:hidden;height:100%;max-width:100%;outline:medium none;direction:ltr;direction:ltr}
.mCSB_container{overflow:hidden;width:auto;height:auto}
.mCSB_inside > .mCSB_container{margin-right:0}
.mCustomScrollBox{direction:ltr}
.mCSB_scrollTools{position:absolute;width:5px;height:auto;left:auto;top:0;right:0;bottom:0}
.mCSB_scrollTools,.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,.mCSB_scrollTools .mCSB_buttonUp,.mCSB_scrollTools .mCSB_buttonDown,.mCSB_scrollTools .mCSB_buttonLeft,.mCSB_scrollTools .mCSB_buttonRight{-webkit-transition:opacity .2s ease-in-out 0s,background-color .2s ease-in-out 0;-o-transition:opacity .2s ease-in-out 0s,background-color .2s ease-in-out 0;transition:opacity .2s ease-in-out 0s,background-color .2s ease-in-out 0}
.mCSB_scrollTools{opacity:0}
.mCustomScrollbar:hover .mCSB_scrollTools{opacity:.5}
.mCSB_scrollTools .mCSB_draggerContainer{position:absolute;top:0;left:0;bottom:0;right:0;height:auto}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer;width:100%;height:30px;z-index:1}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color:#999;position:relative;width:5px;height:100%;margin:0 auto;border-radius:16px;text-align:center}
.mCSB_scrollTools .mCSB_dragger{cursor:pointer}
.mCSB_scrollTools .mCSB_draggerRail{width:5px;height:100%;margin:0 auto;border-radius:5px}
.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical,.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical{right:0;margin:12px 0}

/*======= end ========*/



.table-wrapper { text-align: left; border-radius: 3px; position: relative; margin-bottom: 50px; font-size: 15px; background: #fff; }
.table-scroll{overflow: auto;}  
.table-wrapper table { border-collapse: collapse; table-layout: fixed; width: 100%; }
.table-wrapper tr { border: 1px solid #e6e6f2; }
.table-wrapper table thead th { border-collapse: separate; border-bottom: 8px solid #F6F8FD; padding: 15px; box-shadow: inset 0px -1px 0px 0px #e6e6f2; }
.table-wrapper th { font-weight: 600; padding: 15px; position: relative; color: #3d405c; vertical-align: top; text-transform: capitalize; font-size: 15px;  }
.table-wrapper table thead th i { position: absolute; width: 17px; height: 17px; margin-left: 1px; }
.table-wrapper table td img { vertical-align: middle; }
.table-wrapper table td a { padding: 15px; text-decoration: none; display: block; overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; position: relative; }

.table-wrapper table td .action-wrap a {display: inline-block;vertical-align: top;padding: 0px;overflow: visible;}
.table-wrapper table td .action-wrap a {border-radius: 100%;width: 38px;height: 38px;display: inline-block; margin-right: 1px;position: relative;vertical-align: top;line-height: 38px;font-size: 17px;color: #888;text-align: center;padding: 0px 9px;overflow: visible;border: 1px solid #ddd;background: #fff;}
table .action-wrap a:before {left: 0;top: 0;content: "";position: absolute;width: 100%;height: 100%;-webkit-transform: scale3d(0,0,0);transform: scale3d(0,0,0);-webkit-transition: all 250ms;-o-transition: all 250ms;transition: all 250ms;-webkit-backface-visibility: hidden;backface-visibility: hidden;background-color: rgba(0,0,0,0.1);z-index: 0;border-radius: 100%;}

/*====== pagination css =========*/
.pagination-wrapper{text-align: right; padding: 20px 20px; box-sizing:border-box;}
.pagination-wrapper .paginate_btn.current {background:#FF5242 ;color: #fff !important;border-color: #FF5242 ;}
.pagination-wrapper .paginate_btn:hover {background:#FF5242 ; color: #fff !important;}
.pagination-wrapper .paginate_btn {display: inline-block;min-width: 35px;line-height: 33px;text-align: center;margin-left: 0px;text-align: center;cursor: pointer;color: #666;vertical-align: top;font-size: 13px;border: 1px solid #ddd;}
.pagination-wrapper .paginate_btn.disabled:hover, .pagination-wrapper .paginate_btn.disabled {background: none;color: #999; border-color: #ddd;}
.pagination-wrapper .previous, .pagination-wrapper .next {position: relative;font-size: 0px;}
.pagination-wrapper .next:after {transform: rotate(135deg);left: 14px;}
.pagination-wrapper .previous:after, .pagination-wrapper .next:after {content: "";position: absolute;border-top: 2px solid #FF5242;border-left: 2px solid #FF5242;width: 6px;height: 6px;top: 50%;left: 12.5px;
    margin-top: -4px;}
.pagination-wrapper .previous:after {transform: rotate(-45deg);}


/*==== table sorting css ====*/
.table-wrapper table thead th{border-top: 0px;}
th.width100.sorting {width: 70px !important;}
table.dataTable>thead>tr>th:not(.sorting_disabled), table.dataTable>thead>tr>td:not(.sorting_disabled){vertical-align: top;}

table.dataTable>thead .arrow-icon.sorting:after,
table.dataTable>thead .arrow-icon.sorting_asc:after,
table.dataTable>thead .arrow-icon.sorting_desc:after,
table.dataTable>thead .arrow-icon.sorting_asc_disabled:after,
table.dataTable>thead .arrow-icon.sorting_desc_disabled:after{opacity:0;  }

table.dataTable>thead .arrow-icon.sorting:before,
table.dataTable>thead .arrow-icon.sorting_asc:before,
table.dataTable>thead .arrow-icon.sorting_desc:before,
table.dataTable>thead .arrow-icon.sorting_asc_disabled:before,
table.dataTable>thead .arrow-icon.sorting_desc_disabled:before{opacity:0;}

table.dataTable>thead .sorting:before,
table.dataTable>thead .sorting_asc:before,
table.dataTable>thead .sorting_desc:before,
table.dataTable>thead .sorting_asc_disabled:before,
table.dataTable>thead .sorting_desc_disabled:before{content: ''; background: url(../images/downcaret.svg); background-position: left; background-size: 100%; width: 24px; height: 24px; background-repeat: no-repeat; transform: rotate(180deg); position: absolute; top: 12px; right:15px; }


table.dataTable>thead .sorting:after,
table.dataTable>thead .sorting_asc:after,
table.dataTable>thead .sorting_desc:after,
table.dataTable>thead .sorting_asc_disabled:after,
table.dataTable>thead .sorting_desc_disabled:after{content: ''; background: url(../images/downcaret.svg); background-position: left; background-size: 100%; width: 24px; height: 24px; background-repeat: no-repeat; transform: rotate(0deg); position: absolute; top: 20px; right:15px;  }

table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_desc:after{color:#FF5242;}
.dataTables_length{display:none;}
.dataTables_filter{display:none;}

table.dataTable{margin-top:-1px !important; }
table.table-bordered.dataTable{border-right-width:1px; }
.table td{padding:0px !important;}
.table-striped tbody tr:nth-of-type(odd){background:#fff;}
.table-bordered td, .table-bordered th{border-right: 1px solid transparent;}
div.dataTables_wrapper div.dataTables_info{padding:10px;}
div.dataTables_wrapper div.dataTables_paginate{padding:10px;}
.page-item.active .page-link{background-color: #FF5242; border-color: #FF5242;}
.page-link{color: #0e1217;}
.page-link:hover{color: #0e1217;}
.page-link:focus{box-shadow:none;}

/*==== table sorting css end ====*/

.wrapper {padding-left: 240px;-webkit-transition: all ease-in-out 800ms;-o-transition: all ease-in-out 800ms;transition: all ease-in-out 800ms;position: relative;}
.main-container {margin: 71px 30px 50px;}

/*====== dashboard  ========*/

.title-bar { display: inline-block; vertical-align: top; width: 100%; padding:30px 0px;}
.title-bar h1 { font-weight: 600; font-size: 24px; margin: 0px; color: #2D2F39; display: inline-block; vertical-align: middle; line-height: 40px;}
.mdi-arrow-left{font-size: 28px; display: inline-block; vertical-align: middle;}

.title-bar ul li{position: relative;}
.navdrop.show-menu .dropdown-box {padding:10px 0px; opacity: 1; display: block; -webkit-transform: none; -ms-transform: none; transform: none; left: auto; border: none;}
.dropdown-box a{padding: 8px 15px;display: block; width: 100%; font-size:16px;
    font-weight: 400;}
.navdrop.show-menu .dropdown-box a:hoevr{background: rgba(200,200,200,0.2)!important; transition: all 0.3s!important;}
.navdrop.show-menu .dropdown-box:before { content: ""; position: absolute; top: -8px; right: 15px; width: 20px; height: 20px; background: #fff; transform: rotate(45deg);}

.search-outer {position: relative;} 
.search-outer .search {background: url(../images/search_icon.svg) no-repeat;background-size: 22px; width: 29px;height: 23px;position: absolute;right: 10px;top: 50%;cursor: pointer;margin-top: -11.5px;margin-left: -8px;border: none;}
.search-outer .search-box{padding-right:45px !important;color:#0e1217 !important;}
/*.modal-footer .common-btn{height:40px;}*/
.modal-footer>:not(:first-child) {margin-left: 20px;}

.tabBar { display: inline-block; vertical-align: top; width: 100%; padding:30px 0px;}
.tabBar h2 {line-height: 35px; font-weight: 600; font-size: 20px; margin: 0px; color: #666; display: inline-block; vertical-align: middle; margin-right: 15px; position: relative; }
.tabBar h2.active a { color: #FF5242 !important; border-bottom: 2px solid #FF5242; }
.tabBar h2 a { padding: 5px 0; display: inline-block; vertical-align: middle; border-bottom: 2px solid transparent; }            

.sub-title ul li a{padding: 7px 14px; margin-left: 0px; margin-right: 10px;}
/*.title-bar ul li a{padding: 7px 15px;}*/





/*======= modal =======*/

.modal-dialog.w-4 .modal-header figure { margin: 15px auto 15px; text-align: center;}
/*.modal-dialog.w-4 .modal-body { padding-top: 0;}*/
/*.modal-dialog.w-4 button { max-width: 200px; margin-bottom: 20px; margin: 0 auto;}*/
.modal-dialog.w-4 .modal-body p{margin-bottom:0px;}
.modal-dialog.w-4 { max-width: 300px; text-align: center;}
.modal-header { display: block; border-bottom: 1px solid transparent; padding-bottom: 0;}
.modal-header h5 { color: #2D2F39; font-size: 20px; line-height: 30px; font-weight: 700; margin-bottom: 0; }
.modal-dialog.w-3 .modal-body { padding-top: 0; }
.modal-footer { border: transparent; }
.modal-footer .common-btn{width:100%;}
.modal-footer .common-btn.unfilled{width:100%; margin:0px;}
.center-align{text-align: center !important;}
.modal-dialog.w-9 {max-width: 750px;}
.modal-body .heading h5{margin-bottom: 10px;}
.modal#save .modal-dialog { position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); margin: auto;}
.modal-dialog .common-btn.width200 { max-width: 200px; margin: 0 auto; margin-bottom: 20px; }
.form-group ul li{display: inline-block; }

.total .form-group{margin-bottom: 0px;}

/* ================= Copyright =============== */
.copyright { padding: 0 8px;}
.copyright p { margin: 0px; font-size: 14px;}
.copyright span { font-size: 10px;}

/*===============================*/
/*-------------------------------*/
/**responsive**/
/*-------------------------------*/
/*===============================*/


@media (max-width: 1400px) {
    .login-container .login-content .login-wrap h2 {
    font-size: 34px;
    line-height: 50px;}
}
@media (max-width: 1366px) {
 .login-container .login-content .login-wrap h2 {font-size: 34px;line-height: 55px;}
 .common-btn.generate{font-size:10px;}

 /*.common-btn{margin-bottom:5px;}*/

}


@media (max-width: 1279px){
  .main-container {margin: 90px 15px 50px;}
  .add-clauseBtn { padding: 8px 8px; font-size: 12px;}

   .col-bx-top.team-detail .common-btn{font-size:11px; padding: 7px 9px;}

}

@media (max-width:991px) {
/**login**/
.login-container .login-content-1 .logo {width: 170px;}
.login-container .login-content-1 h2{font-size:23px; }
.login-container .login-content-1 ul li{font-size: 13px;}
.login-container .form-bx, .login-container .col-md-6{ padding: 40px 35px;}

/*===== inner mobile menu  ======*/

.menu-button{display: inline-block;vertical-align: middle;position: relative;margin-right: 8px; cursor: pointer;}
.menu-button span{display: block;background: #999;width: 22px;height: 3px;margin: 4px 0;}
.top-bar{padding: 0 15px;}
.profile-pic{padding: 0}
.wrapper{padding-left: 0;position: relative;}
.sidebar{left: -100%;top: 70px;}
.wrapper.open .sidebar{left: 0;z-index: 9;width: 210px;-webkit-transition: all ease-in-out 800ms; -ms-transition: all ease-in-out 800ms;transition: all ease-in-out 800ms;}
.wrapper:before{content: "";position: fixed;background: rgba(0,0,0,0.7);left: 0;right: 0;margin: auto;width: 100%;height: 100%;z-index: 3;top: 0;bottom: 0;-webkit-transition: all ease-in-out 800ms; -ms-transition: all ease-in-out 800ms;transition: all ease-in-out 800ms;display: none}
.wrapper.open:before{display: block;}
.sidebar ul li a {font-size: 13px;padding: 10px;}
.main-container {margin: 80px 15px 50px;}

.title-bar{padding: 20px 0px;}
.title-bar h1{font-size: 18px;}
.tabBar h2 {font-size: 16px; line-height: 28px;}
.card-body{padding:10px 20px;}


  table.dataTable>thead .sorting:before,
  table.dataTable>thead .sorting_asc:before,
  table.dataTable>thead .sorting_desc:before,
  table.dataTable>thead .sorting_asc_disabled:before,
  table.dataTable>thead .sorting_desc_disabled:before{ right:0px; }


  table.dataTable>thead .sorting:after,
  table.dataTable>thead .sorting_asc:after,
  table.dataTable>thead .sorting_desc:after,
  table.dataTable>thead .sorting_asc_disabled:after,
  table.dataTable>thead .sorting_desc_disabled:after{right:0px;  }


  .information li{padding:0px 10px;}
  .search-outer{max-width:200px;}
  .title-bar span.date{font-size:13px !important;line-height: 40px!important;}
  .commonBox{padding: 0px 10px;}

  .common-btn.generate{width:100%; margin:0 auto;}




}


@media (max-width:767px) {
    /**login**/
.login-container{min-height:auto;margin: 15px auto;}
.login-container .login-content-1 h2, .login-container .login-content-1 ul, .login-container .login-content-1:before{display:none;}
.login-container .login-content-1{background:#282829;}
.login-container .col-md-6 { padding: 25px 15px;}    
.login-container .form-bx{padding: 20px 35px;}
.login-container .login-content-2 h2{margin-top:10px; }
.login-container .login-content-2{min-height:420px; }
.login-container .login-content-1 .logo svg{display:none; }
.login-container .login-content-1 .logo .mobile-logo, .login-container .login-content-1 .logo .mobile-logo svg{display:block; }
.login-container .login-content-1 .logo { width: 120px; margin: 0 auto;}

@media (max-width:480px) {
 /**login**/
.login-container .login-content-1 .logo { width: 70px; margin: 0 auto;}
.mobile-logo svg{height:80px; }
}



}
