.title-bar h1 a{display: inline-block; vertical-align: middle;}
.col-bx-top { background: #fff; padding: 25px 30px; border-radius: 3px; display: inline-block; vertical-align: top; width: 100%; margin-bottom: 15px; -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22); -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22); box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);}
.col-bx-top .title{margin-bottom:15px; width: 100%;}
.col-bx-top .title h3{font-size: 20px; line-height: 38px; font-weight: 500;}
.submit.button{max-width: 200px;margin:0 auto;}

.tabBar { display: inline-block; vertical-align: top; width: 100%; padding:15px 0px;}
.tabBar h2 { font-weight: 600; font-size: 20px; margin: 0px; color: #666; display: inline-block; vertical-align: top; margin-right: 15px; position: relative;}

.tabBar h2.active a { color: #FF5242 !important; border-bottom: 2px solid #FF5242; }
.tabBar h2 a { padding: 10px 0; display: inline-block;}

.col-bx-top { background: #fff; padding: 25px 30px; border-radius: 3px; display: inline-block; vertical-align: top; width: 100%; margin-bottom: 15px; -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22); -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22); box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);}
.col-bx-top .title{margin-bottom:15px; width: 100%;}
.col-bx-top .title h3{font-size: 20px; line-height: 35px; font-weight: 500;}
.information{display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; border-bottom: 2px solid #00000005; margin-bottom: 20px;}
.information li {flex: 0 0 100%; max-width: 20%;}
.information li h5{font-size: 14px; line-height: 30px; letter-spacing: 0.32px; color: #000; font-weight: 600; margin-bottom: 0;}
.information li h4{font-size: 16px; line-height: 26px; letter-spacing: 0.8px; color: #000; font-weight: 300; margin-bottom: 20px; word-break: break-word;}

.form-control:focus{color:#0e1217;}


@media (max-width: 1400px){
    .information li { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 33%;}
}
