.login-content.reset-password{width:600px; max-width: 100%; margin:0 auto; }
.login-content.reset-password .login-container{min-height:auto;}
.login-content.reset-password .login-container .logo{display: inline-block; margin-bottom: 20px; padding:35px 45px 0px 45px; }
.login-content.reset-password .login-container .logo a{}
.login-content.reset-password .login-container .logo a img{width:300px;}
.login-container .form-bx h1{margin-bottom:5px;}
.login-container .form-bx p{margin-bottom:25px;}
.login-content.reset-password  .login-container .form-bx{padding-top:0px; }
.button{border-radius: 4px;}